<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.module_find">

    <application
        android:theme="@style/AppTheme" >
        <activity android:name=".PhotoActivity"
            android:theme="@style/Base.AppTheme"></activity>
        <activity android:name=".ScanCardActivity"
            android:theme="@style/Base.AppTheme"></activity>
        <activity android:name=".IDCardActivity"
            android:theme="@style/Base.AppTheme"></activity>
    </application>
</manifest>
